{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": true
}
